.mainframe{
background-image: url(https://hd.unsplash.com/photo-1436637706755-81d219b36e29);
background-repeat: round;
}

.subframe{
border-radius: 15px;
border: 2px solid #ffbf80;
max-height: 46px;
font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0.7;
    font-weight: bold;


}
[id=title]{
    color: #ffbf80;
    float: left;
    padding: -15px -1px;
    -webkit-text-stroke: 1px white;
    font-size: 1px;
}

[id=paris]{
    color:#ffbf80;
    float: left;
    padding: 14px 9px 0 380px;
    -webkit-text-stroke: 0.5px white;
    font-size: 20px;
    font-weight: bold;
}

li {
    float: right;
}

li a, .dropbtnone {
    display: inline-block;
    color: #ffbf80;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    -webkit-text-stroke: 1px white;

}

li a:hover, .dropdownnone:hover .dropbtnone {     
    background-color: #b32d00;
    color: black;
    font-weight: bold;
    border-radius: 15px;  
    margin-top: -1px; 
}
    

li.dropdownone {
    display: inline-block;
}
.dropdownone-content {
    display: none;
    position: absolute;
    background-color: #b32d00;
    min-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 5px 5px;
}
.dropdownone-content a {
    color: black;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownone-content a:hover {
    background-color: grey;}

.dropdownone:hover .dropdownone-content {
    display: block;
}


.parisone {
    position: relative;
    display: inline-block;
    margin: 25px 25px 50px 220px;
    border-radius: 25px;
    
}

.parisone-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
}

.parisone:hover .parisone-content {
    display: block;
    border-radius: 20px;
    
}

.captionone {
    padding: 15px;
    text-align: center;
}

.paristwo {
    position: relative;
    display: inline-block;
margin: 25px 35px 50px 30px;
}

.paristwo-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.paristwo:hover .paristwo-content {
    display: block;
    border-radius: 20px;
}

.captiontwo {
    padding: 15px;
    text-align: center;
}

.paristhree {
    position: relative;
    display: inline-block;
    margin: 25px 25px 50px 21px;
}

.paristhree-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.paristhree:hover .paristhree-content {
    display: block;
    border-radius: 20px;
}

.captionthree {
    padding: 15px;
    text-align: center;
}


.parisfour {
    position: relative;
    display: inline-block;
    margin: 25px 25px 50px 15px;
}

.parisfour-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.parisfour:hover .parisfour-content {
    display: block;
    border-radius: 20px;
}

.captionfour {
    padding: 15px;
    text-align: center;
}